[submodule "tools/verso-harness"]
	path = tools/verso-harness
	url = https://github.com/ejgallego/leanblueprint-to-verso.git
[submodule "Carleson"]
	path = Carleson
	url = https://github.com/fpvandoorn/carleson.git
